Get 10% sample from a table data

In [1]:
from snowflake.snowpark import Session
from snowflake.ml.utils.connection_params import SnowflakeLoginOptions

session = Session.builder.configs(SnowflakeLoginOptions("test_conn")).create()
df = session.table("HOUSING").sample(frac=0.10).to_pandas()
df

SnowflakeLoginOptions() is in private preview since 0.2.0. Do not use it in production.

,LONGITUDE,LATITUDE,HOUSING_MEDIAN_AGE,TOTAL_ROOMS,TOTAL_BEDROOMS,POPULATION,HOUSEHOLDS,MEDIAN_INCOME,MEDIAN_HOUSE_VALUE,OCEAN_PROXIMITY
0,-122.28,37.84,50.0,2082.0,492.0,1131.0,473.0,1.6424,108900.0,NEAR BAY
1,-122.28,37.82,52.0,1170.0,235.0,701.0,233.0,1.6098,87500.0,NEAR BAY
2,-122.30,37.81,48.0,828.0,182.0,392.0,133.0,2.5938,73500.0,NEAR BAY
3,-122.28,37.81,52.0,386.0,164.0,346.0,155.0,0.8075,137500.0,NEAR BAY
4,-122.28,37.81,52.0,773.0,143.0,377.0,115.0,2.4083,98200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
2111,-121.57,39.13,30.0,442.0,103.0,413.0,88.0,1.5694,57900.0,INLAND
2112,-121.59,39.10,24.0,1107.0,261.0,768.0,205.0,1.7167,48800.0,INLAND
2113,-121.48,39.05,40.0,198.0,41.0,151.0,48.0,4.5625,100000.0,INLAND
2114,-121.32,39.13,5.0,358.0,65.0,169.0,59.0,3.0000,162500.0,INLAND
2115,-121.32,39.29,11.0,2640.0,505.0,1257.0,445.0,3.5673,112000.0,INLAND