In [4]:
import pandas as pd
import random

Skip first 3 rows and read only 2 columns and 3 rows from a local CSV file

In [5]:
df  = pd.read_csv("../../../.spool/housing.csv",
    usecols=['longitude', 'latitude'],
    nrows=3,
    skiprows=[1, 2, 3])
df

   longitude  latitude
0    -122.25     37.85
1    -122.25     37.85
2    -122.25     37.85

Import 10% random rows of a local CSV file

In [6]:
df = pd.read_csv("..\..\..\.spool\housing.csv",
    skiprows=lambda i: i > 0 and random.random() > 0.10)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.27,37.83,48.0,1798.0,432.0,987.0,374.0,1.0972,104500.0,NEAR BAY
1,-122.28,37.83,52.0,1511.0,390.0,901.0,403.0,1.4103,103900.0,NEAR BAY
2,-122.26,37.84,49.0,713.0,202.0,462.0,189.0,1.0250,118800.0,NEAR BAY
3,-122.27,37.82,21.0,896.0,453.0,735.0,438.0,0.9218,171900.0,NEAR BAY
4,-122.28,37.81,17.0,1237.0,462.0,762.0,439.0,0.9241,177500.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
2030,-121.57,39.10,28.0,1442.0,333.0,832.0,286.0,1.8413,62300.0,INLAND
2031,-121.59,39.10,24.0,1107.0,261.0,768.0,205.0,1.7167,48800.0,INLAND
2032,-121.43,39.18,36.0,1124.0,184.0,504.0,171.0,2.1667,93800.0,INLAND
2033,-121.48,39.10,19.0,2043.0,421.0,1018.0,390.0,2.5952,92400.0,INLAND
2034,-121.40,39.33,15.0,2655.0,493.0,1200.0,432.0,3.5179,107200.0,INLAND