In [1]:
from faker import Faker
f = Faker()

In [2]:
import pandas as pd
df = pd.DataFrame([[f.city(), f.state()] for _ in range(1000)])
df

                     0              1
0       Port Ashleyton  West Virginia
1        Lawrenceshire     New Mexico
2           Thomasview        Alabama
3    West Lawrenceport        Montana
4         Bakerborough      Tennessee
..                 ...            ...
995     New Jasonburgh       Nebraska
996     Lake Johnhaven        Vermont
997    Lake Audreyview  New Hampshire
998        Sarachester          Idaho
999        Higginsberg         Oregon

[1000 rows x 2 columns]